@media screen and (min-width: 1200px) {

    main {
        grid-template-columns: 1fr 5fr 5fr 5fr 1fr;
      }
    
      main :nth-child(1) {
        grid-column: 2/3;
      }
      main :nth-child(2) {
        grid-column: 3/4;
      }
      main :nth-child(3) {
        grid-column: 4/5;
      }



    
}